<div class="pb-2">
    <h5 class="mb-0"><strong>{{ deal.titre }}</strong></h5>
    <span class="text-secondary">Code promo <a class="text-info" href="#">[...]</a></span>
</div>

<div class="row pb-2">
    <div class="col-md-6">
        <a class="btn btn-info w-100 text-light" href="#" role="button">Profiter du code <i class="bi bi-box-arrow-up-right"></i></a>
    </div>
    <div class="col-md-6">
        <a class="btn btn-light w-100 border" href="#" role="button">[...] <i class="bi bi-box-arrow-up-right"></i></a>
    </div>
</div>

<div class="pb-2">
    {{ deal.description }}
</div>

<div>
    <span><strong>{{ deal.postePar }}</strong></span>
</div>
