<li class="nav-item p-2">
    <a class="nav-link" href="{{ path("bonPlan_index") }}">Bons Plans</a>
</li>
<li class="nav-item p-2">
    <a class="nav-link" href="{{ path("bonPlan_hot") }}">Hot</a>
</li>