<li class="nav-item p-2">
    <a class="nav-link" href="{{ path("home") }}">A la une</a>
</li>
<li class="nav-item p-2">
    <a class="nav-link" href="{{ path("deal_hot") }}">Hot</a>
</li>
<li class="nav-item p-2">
    <a class="nav-link" href="#">Nouveaux</a>
</li>
<li class="nav-item p-2">
    <a class="nav-link" href="#">Commentés</a>
</li>