<li class="nav-item p-2">
    <a class="nav-link" href="{{ path("codePromo_index") }}">Codes promo</a>
</li>
<li class="nav-item p-2">
    <a class="nav-link" href="{{ path("codePromo_hot") }}">Hot</a>
</li>