<li class="nav-item p-2">
    <a class="nav-link" href="{{ path("search_deal", {'type': 'deal' }) }}">Deal</a>
</li>
<li class="nav-item p-2">
    <a class="nav-link" href="{{ path("search_deal", {'type': 'user' }) }}">Marchands</a>
</li>